apiVersion: kubeadm.k8s.io/v1beta3
kind: ClusterConfiguration
kubernetesVersion: stable
controlPlaneEndpoint: "k8s-vip:6443"
networking:
  podSubnet: {{ pod_network_cidr }}
  serviceSubnet: {{ service_network_cidr }}
etcd:
  external:
    endpoints:
{% for node in etcd_nodes %}
      - http://{{ node.ip }}:2379
{% endfor %}
---
apiVersion: kubeadm.k8s.io/v1beta3
kind: InitConfiguration
localAPIEndpoint:
  advertiseAddress: {{ hostvars[inventory_hostname]['ansible_host'] | default(control_plane_nodes[0].ip) }}
  bindPort: 6443
nodeRegistration:
  name: {{ inventory_hostname }}
  criSocket: "unix:///run/containerd/containerd.sock"
